<a href="https://colab.research.google.com/github/mamikah/DeepLearning2022Late/blob/main/0920.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# python3での関数

### 関数を定義し、実行する

In [3]:
# helloという関数を定義する
# 'hello,kansuu!' と画面表示する関数
def hello():
  print('hello,kansuu!')
print('test kansuu!')

# 関数を実行する
hello()
hello()

test kansuu!
hello,kansuu!
hello,kansuu!

### 引数付きの関数を定義し、実行する

In [8]:
# hello(引数付き)という関数を定義する
def hello(who):
  print('hello,',who)

hello('mamika')

hello, mamika

### 複数の引数付きの関数を定義

In [16]:
 
def hello(who,aisatsu):
   print(who+'さん、',end='')
   print(aisatsu+'。')
  
hello('mamika','こんにちは')
hello('hayashida','こんばんは')

mamikaさん、こんにちは。
hayashidaさん、こんばんは。

### 関数の戻り値を定義する

#### 戻り値１つの関数を定義、実行

In [20]:
def helloBack(who,aisatsu):
  return who + 'さん、'+ aisatsu

print(helloBack('hayashida','おはようございます'))
print(helloBack('mamika','こんにちは'))

hayashidaさん、おはようございます
mamikaさん、こんにちは

#### 戻り値複数の関数を定義、実行

In [25]:
def keisan(x,y):
  # 複数の戻り値
  return x,y,x+y,x-y

print(keisan(10,20))
# e,f,g = keisan(10,20)
# print(e,f,g)

(10, 20, 30, -10)

# その他の文法

### 分岐(if文）

In [28]:
# numの値をしきい値で分岐する
def over(num,num2):
  if num > num2:
    print(str(num)+'は'+str(num2)+'より大きい')
  else:
    print(str(num)+'は'+str(num2)+'以下です')

over(1,2)
over(2,1)

1は2以下です
2は1より大きい

In [32]:

# リストに第二引数の値が含まれるか判定
def include(list,keyword):
  # リストを集合に変換
  uniq = set(list)
  if keyword in uniq:
    print(keyword + 'が含まれる')
  else:
    print(keyword + 'は含まれない')

list_1 = ['アップル','ペン','パイナップル','ペン']
include(list_1,'アップル')
include(list_1,'バナナ')

アップルが含まれる
バナナは含まれない

### 繰り返し文(while)

while文は条件がtrueの間繰り返す

In [35]:
def count(max):
  num = 0
  while num < max:
    print('♥',end='')
    num +=1
  
count(3)

♥♥♥

### くり返し文(for)

例)変数βの集合から一つずつ取っ出して変数αとして使う<br>
for α in range(β)

In [43]:
# コレクションの中から取り出して繰り返し
def every(array):
  for x in array:
    print(x)
  
list = [1,2,3]
tuple = (4,5,6)
dict = {'a':7,'b':8,'c':9}
every(list)
every(tuple)
every(dict)
value = dict.values()
every(value)
# 一文字ずつ表示
every('dog')

1
2
3
4
5
6
a
b
c
7
8
9
d
o
g

カウンター変数<br>
for n in range(数値)<br> 0～数値未満繰り返す

In [44]:
def count(num):
  for i in range(num):
    print(i)


count(3)

0
1
2

ループを止めたい時はbreak

In [45]:
def stop(array):
  for i in array:
    if i >= 4:
      break
    print(i)


list = [1,2,3,4,5,1,2,3,4,5]
stop(list)

1
2
3

くり返しをスキップしたい時はcontinue

In [46]:
def skip(array):
  for i in array:
    if i >=4:
      continue
    print(i)
  
skip(list)

1
2
3
1
2
3